@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Seven Segment";
	src: url("/fonts/seven-segment.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Seven Segment", "Consolas", "Courier New", monospace;
	letter-spacing: 0.2rem;
	font-weight: 600;
}

/* Animation for Bonus Points PopUp */
@keyframes pop-up {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-pop-up {
    animation: pop-up 3s cubic-bezier(0, 0, 0.2, 1) forwards;
    transform-origin: center;
}
